* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, Georgia, Times, serif;
}

body {
    background-color: black;
    color: burlywood;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/coffee_background.jpeg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 5px 5%;
}

.logo {
    width: 30px;
}

h1 {
    font-size: 50px;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Display list to be horizontally aligned without bullet points */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 10%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%
}

.hero-container {
    height: 100vh;
}

.hero-text {
    padding: 5%;
    font-size: 20px;
    color: black;
}

h2 {
    font-size: 30px;
}

.hero-text p {
    margin-top: 5%;
}

/* About Me section */
#about {
    max-width: 100%;
    padding: 50px 0;
    background-color: black;
}

.container-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 40%;
}

.about-col-1 img {
    width: 60%;
    margin-left: 40%;
    border-radius: 20px;
    justify-content: end;
}

.about-col-2 {
    flex-basis: 55%;
    padding-right: 15%;
}

.section-title {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

/* Projects section */
#projects {
    max-width: 100%;
    padding: 50px 0;
    background-color: black;
}

.section-title-2 {
    font-size: 40px;
    color: white;
    margin-left: 10%;
    margin-bottom: 40px;
}

/* First application with larger image display than subsequent project images */
.project-hero-img {
    background-image: url(../images/coffee_beans.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 1030px;
    height: 750px;
}

.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box {
    width: 40%;
    height: 75px;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.text-box p {
    color: black;
    font-size: 20px;
}

.text-box:hover {
    background: rgba(225, 225, 225, 0.9);
    font-weight: bold;
}

.grid {
    margin-top: 20px;
    display: flex;
    width: 1030px;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.project-hero-img-2 {
    background-image: url(../images/coffee_grounds.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 500px;
    height: 250px;
}

.project-hero-img-3 {
    background-image: url(../images/espresso_machine.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 500px;
    height: 250px;
}

.project-hero-img-4 {
    background-image: url(../images/latte_art.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 500px;
    height: 250px;
}

.project-hero-img-5 {
    background-image: url(../images/coffee.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 500px;
    height: 250px;
}